* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

* {
    /* === SW colors === */
    --mild-dark: #44434a;
    --bone-white: #f1f1f1;
    --night: #2c334cff;

    /* blues */
    --turkish-blue: #78b5b7;
    --sky-blue: #89ddd4;
    
    /* greens */
    --calm-dark: #383838;
    --olive-green: #5b6c68;
    --leaf-green: #aac2aa;
    
    /* reds */
    --bronze: #c88d56; /*goes nicely with beige*/
    --beige: #ffefc4; /*goes nicely with sky-blue*/
    --warm-dark: rgb(23, 2, 2);
    --shadow-dark: rgb(23, 2, 2, 0.2);
    --red: #ea7a85;
    --rose-red: #f3dfd9; /*goes nicely with mild-dark*/
}

/* === elements === */
.displayNone {
    display: none;
}

.hasShadow {
    box-shadow: 0px 0px 2px 0px #00000066;
    /* 0px 4px 15px 2px rgba(0,0,0,0.2); */
    transition: all 1s;
}
.hasShadow:hover {
    box-shadow: 0px 0px 2px 0px #00000066, 0px 0px 20px 4px rgba(0,0,0,0.2);
}

/* Buttons */
.button {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 7px;
    border-radius: 5px;
    transition: 0.3s all;
}

.blue-button {
    background-color: var(--turkish-blue);
    color: var(--mild-dark);
}
.blue-button:hover {
    color: var(--bone-white);
    background-color: var(--mild-dark)
}
.gold-button {
    color: var(--warm-dark);
    background-color: var(--beige);
    border: 1px solid transparent;
}
.gold-button:hover {
    color: var(--beige);
    background-color: var(--bronze);
    border-color: var(--beige);
}
.ghost-button {
    color: var(--bone-white);
    border: 2px var(--bone-white) solid;
}
.ghost-button:hover {
    background: var(--bone-white);
    color: var(--bronze);
}

/* dropdown */
select {
    color: var(--warm-dark);
    background-color: var(--bone-white);
    height: 35px;
    width: 240px;
    font-size: 13pt;
    border: none;
    border-radius: 5px;
}
select:focus {
    border-color: var(--shadow-dark);
}
option {
    height: 30px;
}
option:hover, option:active {
    outline-color: var(--bronze);
    background-color: var(--bronze);
}

/* === markup === */
html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

section {
    padding: 25px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section#banner {
    justify-content: space-between;
    background-color: var(--mild-dark);
    background-size: cover;
    background-position: bottom;
    min-height: 400px;
    padding-bottom: 0px;
}
#logo {
    align-self: baseline;
    margin: 5% 10%;
}
#logo img {
    min-width: 265px;
    max-width: 25%;
}
#slogan{
    color: var(--bone-white);
    font-weight: 700;
    font-size: 14pt;
    letter-spacing: 1px;
}
#homes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}
#homes .home-picture {
    width: 30%;
}

section#router {
    flex-direction: row;
    justify-content: center;
    font-size: 14pt;
    color: var(--calm-dark);
    background-color: var(--shadow-dark);
    border-bottom: 1px solid darkgray;
}
section#router > * {
    margin: 20px 10px;
}
section#router #iam {
    font-weight: 700;
}
section#router .routes {
    position: relative;
    margin-left: 75px;
}
section#router .routes .route:first-child {
    position: relative;
}

section#intro {
    background-color: var(--bone-white);
    padding-left: 10px;
    padding-right: 10px;
}
section#intro h1 {
    text-align: center;
}
section#intro p {
    font-size: 13pt;
    line-height: 1.75;
    text-align: justify;
    text-align-last: center;
    max-width: 700px;
    margin: auto;
}

section#features {
    background: var(--bone-white);
    overflow: hidden;
}
.feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0px;
}
.laptop-right {
    margin-right: -300px;
}
.laptop-right .feature-list {
    margin-right: 80px;
}
.laptop-left {
    flex-direction: row-reverse;
    margin-left: -300px;
}
.laptop-left .feature-list {
    margin-left: 80px;
}
.feature-list {
    max-width: 500px;
}
.laptop {
    min-width: 10%;
    max-width: 600px;
}
.laptop img {
    -webkit-filter: drop-shadow(0px 7px 10px var(--shadow-dark));
    filter: drop-shadow(0px 7px 10px var(--shadow-dark));
    width: 100%;
}
@media screen and (max-width: 800px) {
    .laptop-right{
        margin-right: 0px
    }
    .laptop-left {
        margin-left: 0px
    }
    .feature-list {
        margin: 0px 10px !important;
    }
}

section#products {
    background-color: var(--bone-white);
}
.three-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}
.transparent-column {
    color: var(--mild-dark);
    text-align: center;
    min-width: 210px;
    margin: 0px 2%;
    padding: 5px 15px;
    flex: 1;
}
.column { /* not being used */
    color: var(--mild-dark);
    background-color: white;
    text-align: center;
    margin: 2%;
    padding: 5px 15px;
    box-shadow: 0px 0px 10px 0px var(--shadow-dark);
    flex: 1;
}
.column .product-image, .transparent-column .product-image {
    max-width: 250px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

section#contact {
    font-size: 15pt;
    color: var(--olive-green);
    background-color: var(--sky-blue);
    border-bottom: solid 8px var(--turkish-blue);
}
.blue-button#contact-us {
    margin-top: 12px;
}

section#footer {
    font-size: 10pt;
    color: var(--bone-white);
    background-color: var(--mild-dark);
    padding-bottom: 50px;
}
#lambda-logo {
    max-height: 100px;
    /* margin: 20px 0px; */
}
#footer-slogan img {
    height: 12px;
    margin-left: 5px;
    margin-bottom: -2px;
}