* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

* {
    /* === SW colors === */
    --mild-dark: #44434a;
    --bone-white: #f1f1f1;

    /* blues */
    --turkish-blue: #78b5b7;
    --sky-blue: #89ddd4;
    
    /* greens */
    --calm-dark: #383838;
    --olive-green: #5b6c68;
    --leaf-green: #aac2aa;
    
    /* reds */
    --bronze: #c88d56; /*goes nicely with beige*/
    --beige: #ffefc4; /*goes nicely with sky-blue*/
    --warm-dark: rgb(23, 2, 2);
    --shadow-dark: rgb(23, 2, 2, 0.2);
    --red: #ea7a85;
    --rose-red: #f3dfd9; /*goes nicely with mild-dark*/
}

/* Buttons */
.button {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 7px;
    border-radius: 5px;
    transition: 0.3s all;
}

.blue-button {
    background-color: var(--turkish-blue);
    color: var(--mild-dark);
}
.blue-button:hover {
    color: var(--bone-white);
    background-color: var(--mild-dark)
}
.gold-button {
    color: var(--warm-dark);
    background-color: var(--beige);
    border: 1px solid transparent;
}
.gold-button:hover {
    color: var(--beige);
    background-color: var(--bronze);
    border-color: var(--beige);
}
.ghost-button {
    color: var(--bone-white);
    border: 2px var(--bone-white) solid;
}
.ghost-button:hover {
    background: var(--bone-white);
    color: var(--bronze);
}

/* markup */
html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

section {
    padding: 25px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#banner {
    background: url(img/banner.jpeg);
    background-size: cover;
    background-position: bottom;
    min-height: 400px;
}

#router {
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--calm-dark);
    background-color: var(--bronze);
    border-bottom: 1px solid darkgray;
}

.three-columns {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}
#products {
    background-color: var(--bone-white);
}
.column {
    color: var(--mild-dark);
    background-color: var(--rose-red);
    text-align: center;
    margin: 2%;
    padding: 5px 15px;
    box-shadow: 0px 0px 10px 0px var(--shadow-dark);
}
.column .product-image {
    width: 70%;
    margin-bottom: 10px;
}

#contact {
    font-size: 15pt;
    color: var(--olive-green);
    background-color: var(--sky-blue);
    border-bottom: solid 8px var(--turkish-blue);
}
.blue-button#contact-us {
    margin-top: 12px;
}

#footer {
    font-size: 10pt;
    color: var(--bone-white);
    background-color: var(--mild-dark);
    padding-bottom: 50px;
}
#lambda-logo {
    max-height: 100px;
    /* margin: 20px 0px; */
}
#footer-slogan img {
    height: 12px;
    margin-left: 5px;
    margin-bottom: -2px;
}